.smallCard {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Define uma largura máxima menor para os cards */
    margin: 0 auto; /* Centraliza os cards horizontalmente */
    overflow: hidden; /* Garante que não haverá barra de rolagem dentro do card */
  }
  
  .title {
    font-size: 1rem; /* Diminui um pouco o tamanho do texto */
    font-weight: bold;
    text-align: center;
  }
  
  /* Se precisar de variáveis de cor, use classes específicas */
  .raiz {
    --cor-principal: #c95656; /* Exemplo de variável */
    overflow: hidden; /* Remove a barra de rolagem do contêiner */
    padding: 10px; /* Adiciona um espaçamento interno para o layout */
  }
  